<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" name="" id="" v-model="firstname" />
      <input type="text" name="" id="" v-model="lastname" />
      <div>{{fullname}}</div>
    </div>
    <script src="vue.js"></script>
    <script>
      let app = new Vue({
        el: "#app",
        data: {
          firstname: "li",
          lastname: "si",
          fullname: "lisi"
        },
        watch: {
          firstname(val) {
            this.fullname = val + this.lastname;
          },
          lastname(val) {
            this.fullname = this.firstname + val;
          }
        }
      });
    </script>
  </body>
</html>
